#binario .voltaraotopo { text-align:center; }
#binario .voltaraotopo a { display:inline-block; background:#555; padding:5px 8px 4px; width:87px; font-weight:bold; font-size:1.1em; color:#fff; text-decoration:none; text-transform:uppercase; text-align:center; }
#binario .voltaraotopo a:hover { background:#000; }

#binario table#rede { margin:0 auto; width:100% !important; }
#binario table#rede tr { border:0; padding:0; }
#binario table#rede tr td { border:0; padding:5px 2px; text-align:center; vertical-align:top; }
#binario table#rede tr td span { display:block; line-height:12px; font-size:.9em; }
#binario table#rede tr td span strong { display:block; font-size:1em; text-align:center;}
#binario table#rede tr td span.lado { font-weight:bold; font-size:.9em; }
#binario table#rede tr td.inativo span.lado { color:#bbb; }
#binario table#rede tr td .alert-info { background:#eee; border:0; margin:0; }
#binario table#rede .alert.alert-info.aprovado { background:#547C95; }
#binario table#rede tr td.aleft { border-right:solid 1px #bbb; border-bottom:solid 1px #bbb; }
#binario table#rede tr td.aright { border-left:solid 1px #bbb; border-bottom:solid 1px #bbb; }
#binario table#rede tr td.bleft { border-right:solid 1px #bbb; }
#binario table#rede tr td.dbottom { border-bottom:solid 1px #bbb; }
#binario table#rede tr td div img { display:block; margin:0 auto; }
#binario table#rede tr td.inativo div img { padding:10px 5px; opacity: .7; }

#matriz table { text-align:center; border-collapse:collapse; width:100%; }
#matriz table tr td { border:0; padding:5px 2px; text-align:center; vertical-align:top; }
#matriz table tr td.inativo { padding: 10px 5px; }
#matriz table tr td div img { display:block; margin:0 auto; opacity: 1; }
#matriz table tr td.inativo div img { opacity: .7; }
#matriz table tr td.a1 { border-bottom:solid 1px #bbb; }
#matriz table tr td.a1l { border-bottom:solid 1px #bbb; border-right:solid 1px #bbb; }
#matriz table tr td.a1r { border-bottom:solid 1px #bbb; border-left:solid 1px #bbb; }
#matriz table tr td.a2 { border-left:solid 1px #bbb; }
#matriz table tr td a { color:#333; }
#matriz table tr td a:hover { color:#DD8800; text-decoration:none; }
#matriz table tr td span { display:block; padding:5px; line-height:12px; font-size:.9em; }
#matriz table tr td span strong { font-size:1em; }
#matriz table tr td table { width:100%; }
#matriz table tr td i { font-size:.65em; font-style:normal; font-weight:normal; }
